<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Movie</title>

    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/addmovie.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />
    <link rel="stylesheet" href="/updateMovie.css" />
    <link rel="icon" href="/assets/movie.png" type="image/png">
</head>

<body>
    <nav>
        <div class="logoContainer">
            <a href="/">
                <div class="logoIMGContainer">
                    <i class="fa-solid fa-clapperboard"></i>
                </div>
    
                <div class="logoTEXTContainer">
                    <span>CINERATE</span>
                    <span>PREMIUM VAULT</span>
                </div>
            </a>
        </div>

        <div class="navActions">
            <a href="/?topRated=true&page=1">
                <button class="topRatedBtn">
                    <i class="fa-solid fa-star"></i>
                    Top Rated
                </button>
            </a>
            <a href="/">
                <button class="topRatedBtn allMovieBTN">
                    <i class="fa-solid fa-circle-play"></i>
                    All Movies
                </button>
            </a>

            <div class="buttonContainer">
                <a href="/addmovie">
                    <button class="addMovieBtn">
                        <i class="fa-sharp-duotone fa-regular fa-plus"></i>ADD MOVIE
                    </button>
                </a>
            </div>
        </div>
    </nav>

    <div class="addPage">
        <a href="/movies/<%= movie._id %>">
            <button class="backBtn">
                <i class="fa-solid fa-arrow-left"></i> Back
            </button>
        </a>

        <div class="header">
            <p class="tag">EDIT MOVIE</p>
            <h1>Update Film Details</h1>
            <p class="subText">
                Modify the movie details and keep your vault updated.
            </p>
        </div>

        <form action="/updatemovie" method="POST" class="form">
            <input type="hidden" name="movieId" value="<%= movie._id %>">

            <div class="formGroup full">
                <label>TITLE *</label>
                <input type="text" name="movieName" value="<%= movie.movieName %>" required>
            </div>

            <div class="formGroup">
                <label>RELEASE DATE</label>
                <input type="date" name="releaseDate" value="<%= movie.releaseDate ? movie.releaseDate.toISOString().split('T')[0] : '' %>" required>
            </div>

            <div class="formGroup">
                <label>CAST</label>
                <input type="text" name="cast" value="<%= movie.cast.join(', ') %>" required>
            </div>

            <div class="formGroup full">
                <label>POSTER IMAGE URL</label>
                <input type="text" name="img" value="<%= movie.img %>" required>
            </div>

            <div class="formGroup full">
                <label>DESCRIPTION</label>
                <textarea name="desc" required><%= movie.desc %></textarea>
            </div>

            <div class="btnGroup full">
                <button type="submit" class="submitBtn">UPDATE MOVIE</button>
                <button type="button" class="cancelBtn">Cancel</button>
            </div>
        </form>
    </div>
</body>

</html>